<div id="nav-bar">
    <a [routerLink]="['']" id="title">SeamSmith</a>
    <div id="nav-buttons">
        <h4 *ngIf="loggedIn()">Welcome <a [routerLink]="['profile/', currentUser._id]">{{currentUser.firstName}} {{currentUser.lastName}}</a><a (click)="logOut()">(logout)</a> </h4>
        <a [routerLink]="['marketplace']" (click)="notLoggingIn()" class="button">Browse</a>
        <a (click)="toggleCart()" class="button">View Cart</a>
        <a [routerLink]="['about']" (click)="notLoggingIn()" class="button">About</a>
        <a *ngIf="!loggedIn()" (click)="loggingIn()" class="button">Log In/Register</a>
        <a *ngIf="currentUser && currentUser.admin" [routerLink]="['new-item']" (click)="notLoggingIn()" class="button">Add New Item</a>
    </div>
</div>