@import "../../scss/variables";

nav {
    height: $navbar-height;
    background-color: white;

    #nav-bar {
        #title {
            margin: 5px 20px 10px;
            font-family: $title-font;
            font-size: 60px;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        #cart {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 79%;
            height: 79%;
        }

        .left {
            margin-left: 40%;
        }

        .nav-buttons {
            display: inline-block;

            #user-buttons {
                display: inline-block;
                margin-left: 20%;
            }
        }

        .icon {
            height: 50px;
            padding: 0 15px;
            margin: 15px;

            .icon-link {
                height: 45px;
                color: black;
                width: 45px;
                border: 3px solid black;
                border-radius: 50%;
                padding: 0px;
                
                .cart-img {
                    width: 30px;
                }
                
                .user-img {
                    position: relative;
                    width: 43px;
                    top: 2px;
                    left: -2px;
                }
            }
        }
        
        .button {
            font-size: 20px;
            color: black;
            margin: 10px;
        }

        .button:hover {
            color: red;
        }
    }

    #dropdown {
        z-index: 10;

        h5 {
            color: black;
            float: right;
            margin-right: 10px;
        }
    }

}