<div id="title">
    <h1><u>Welcome to SeamSmith</u></h1>
</div>
<div id="content">
    <p>This site is a prototype site written from scratch by Matt Krabacher. It is meant to serve as a sample project and representation of skill and is not yet mobile ready. All code is availibe on <a href="https://github.com/mkrabacher/DanielsDesigins">GitHub</a> and the site is hosted on an AWS EC2 Linux server. It was written primarily in TypeScript and JavaScript and was built with the following technologies and libraries.</p>
    <ul>
        <li>Angular 5</li>
        <li>Node.js</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
        <li>Express</li>
        <li>Materialize</li>
        <li>Sass/SCSS</li>
    </ul>
    <p>Passwords are not encrypted and nothing is done with the email address. It is recommended that you use fake data for anything you put in. Nothing displayed on this website is actually for sale.</p>
</div>