@import "../scss/variables";

#content {
    margin: 0 $marketplace-margin;
    min-height: calc(100vh - #{$navbar-height});
}

#nav-bar-frame {
    height: $navbar-height;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom:3px solid lightgrey;
}