@import "../scss/variables";


#nav-bar-frame {
    height: $navbar-height;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom:3px solid lightgrey;
    z-index: 50;
}