<div (click)="closePopup()" id="fade-background"></div>


<div id="product-details-frame">
    <div id="product-image-frame">
        <img src="{{item.img_url}}" alt="{{item.name}}">
    </div>
    <div id="product-details">
        <div class="product-description">
            <h1>{{item.name}}</h1>
            <p>${{item.price}}.00</p>
            <p>{{item.description}}</p>
        </div>
        <div class="product-interface">
            <div class="quantity-input">
                <h6>Quantity:</h6>
                <input type="number" value="1">
            </div>
            <button class="cart-btn btn" onclick="M.toast({html: 'Item added'})" (click)="addToCart(item, $event)">
                <img class="cart-btn-icon" src="..\..\assets\img\shopping-cart-solid.svg" alt="cart">Add to Cart
                <span class="added" hidden>added</span>
            </button>
            <button class="edit-btn btn" *ngIf="_httpService.currentUser.admin" (click)="editProduct(item._id)">Edit Item</button>
        </div>
    </div>
</div>


<!-- <ul>  TODO:
    <li>has admin options like delete and edit</li>
    <li>needs size,color and add to cart.</li>
</ul> -->