<p>
    product-page works!
</p>
<ul>
    <li>has admin options like delete and edit</li>
    <li>big pic on left</li>
    <li>description and price</li>
    <li>needs size,color, quantity and add to cart.</li>
    <li>big X close button in upper right, but clicking off panel closes as well.</li>
</ul>

<div style="border:3px solid red" id="marketplace-display">
    <div *ngFor="let item of displayItems">
        <div *ngIf="item.name.toLowerCase().includes(searchTerm.toLowerCase())" class="item-display">
            <div class="item-name">
                <h2>{{item.name}}</h2>
                <a href="" (click)="showImg(item.img_url)">
                    <img src="{{item.img_url}}" alt="{{item.name}}">
                </a>
            </div>
            <div class="item-description">
                <h3>Description</h3>
                <p>{{item.description}}</p>
                <div class="item-price">
                    <h3>Price</h3>
                    <p>{{item.price}}</p>
                </div>
                <div class="item-buttons">
                    <input class="quantity" value="1" type="number">
                    <button (click)="addToCart(item, $event)">Add to cart</button>
                    <span hidden> added</span>
                    <button *ngIf="adminPrivileges" (click)="deleteItem(item)">Delete Item</button>
                    <button *ngIf="adminPrivileges">Edit Item</button>
                </div>
            </div>
        </div>
    </div>
</div>