<div (click)="closePopup()" id="fade-background"></div>

<div id="log-reg-frame">
    <div style="text-align:center">
    <h1>Login or register if you haven't already.</h1>
    </div>

    <div id="register">
        <h3>Register Here</h3>
        {{registerUser | json}}
        <form (submit)="registerThroughService()">
            <label for="registerUser.firstName">First Name:
                <input type="text" name="registerUser.firstName" id="registerUser-firstName" [(ngModel)]="registerUser.firstName" required
                    minlength="3" #firstName="ngModel">
            </label>
            <br>
            <p style="color:red" *ngIf="firstName.errors && firstName.errors.minlength">First Name needs to be longer</p>
            <label for="registerUser.lastName">Last Name:
                <input type="text" name="registerUser.lastName" id="registerUser-lastName" [(ngModel)]="registerUser.lastName" required minlength="3"
                    #lastName="ngModel">
            </label>
            <br>
            <p style="color:red" *ngIf="lastName.errors && lastName.errors.minlength">Last Name needs to be longer</p>
            <label for="registerUser.email">Email:
                <input type="email" name="registerUser.email" id="registerUser-email" [(ngModel)]="registerUser.email" required #email="ngModel"
                    pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b">
            </label>
            <br>
            <label for="registerUser.admin">User Level:
                <select style="width: 153px;" type="email" name="registerUser.admin" id="registerUser-admin" [(ngModel)]="registerUser.admin" required>
                    <option value="true">admin</option>
                    <option value="false">user</option>
                </select>
            </label>
            <br>
            <div style="color:red" *ngIf="email.errors && email.errors.pattern">That's not a valid email</div>
            <label for="registerUser.password">Password:
                <input type="password" name="registerUser.password" id="registerUser-password" [(ngModel)]="registerUser.password" required
                    minlength="8" #password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,64}$">
                <p *ngIf="password-err">Password must be at least 8 characters long.</p>
            </label>
            <br>
            <p style="color:red" *ngIf="password.errors && password.errors.minlength">Password needs to be longer</p>
            <p style="color:red" *ngIf="password.errors && password.errors.pattern">Password must have upper, lower and number</p>
            <label for="registerUser.passwordConf">Password Confirmation:
                <input type="password" name="registerUser.passwordConf" id="registerUser-passwordConf" [(ngModel)]="registerUser.passwordConf"
                    required #passwordConf="ngModel">
            </label>
            <br>
            <p style="color:red" *ngIf="registerUser.password != registerUser.passwordConf">Password doesn't match confirmation.</p>
            <input *ngIf="firstName.valid && lastName.valid && email.valid && password.valid && passwordConf.valid" type="submit" value="registerUser"
                id="registerUser-btn">
        </form>
        <h3 *ngIf="responseMsg" style="color: red">{{responseMsg}}</h3>
    </div>

    <div id="login">
        <h3>Login Here</h3>
        {{login | json}}
        <form (submit)="loginThroughService()">
            <label for="login.email">Email:
                <input type="email" name="login.email" id="login-email" [(ngModel)]="login.email" required>
            </label>
            <br>
            <br>
            <label for="login.password">Password:
                <input type="password" name="login.password" id="login-password" [(ngModel)]="login.password" required>
            </label>
            <br>
            <br>
            <p *ngIf="login-err">Invalid Credentials</p>
            <input type="submit" value="Login" id="login-btn">
            <p *ngIf="errorMsg">{{errorMsg}}</p>
        </form>
        <a (click)="closePopup()">or continue as a guest</a>
    </div>
</div>
