@import "../../scss/variables";

#marketplace-sidebar, #marketplace-display, .item-description, .item-name, .item-price, .item-buttons, .item-display, .item-display-frame {
    display: inline-block
}

.toast {
    position: relative;
    left: 50px;
    top: 500px;
}

#marketplace-sidebar {
    padding: 5px 20px;
    width: $sidebar-width;
    min-height: calc(100vh - #{$navbar-height});

    div {
        margin: 20px 0;
    }
}

#marketplace-display {
    width: $marketplace-width;
    vertical-align: top;

    .item-display-frame {
        width: 250px;
        height: 300px;
        margin: 5px;
        padding: 10px;
    }
    
    .item-display {
        
        .item-subheader, h6 {
            margin: 0;
        }

        .item-subheader {
            font-size: 15px;
            color: darkgray
        }

        .item-hover-buttons {
            opacity: 0;
            position: relative;
            top: 90px;
            left: 20px;
            margin-top: 10px;
            z-index: 1;
            -webkit-transition: all .5s; /* Safari, Chrome */
            transition: all .5s;

            .cart-btn {
                .cart-btn-icon {
                    width: 20px;
                }

                span {
                    color: red;
                    position: absolute;
                    left: -1px;
                    top: -1px;
                }
            }
            

            .expand-btn {
                .expand-btn-icon {
                    width: 20px;
                }
            }

            .view-btn {
                color: darkslategrey;
            }
        
        }

        .item-image-frame {
            border-bottom: 3px solid darkslategray;

            img {
                width: 200px;
                display: flex;
                margin: auto;
                -webkit-transition: all .5s; /* Safari, Chrome */
                transition: all .5s;
            }
        }
    }

    .item-display:hover {

        .item-image-frame {
            border-bottom: 3px solid darkslateblue;

            img {
                opacity: 0.3;
            }
            .item-hover-buttons {
                opacity: 1;
            }            
        }
    }

}