<div style="border:3px solid blue" id="marketplace-sidebar">
    <div>
        <h3>Search by Name</h3>
        <input placeholder="search.." type="text" name="searchBar" id="searchBar" [(ngModel)]="searchTerm">
    </div>
    <div>
        <h3>Filter by Type</h3>
        <form action="">
            <!-- need to bind the checkboxes to some object in the .ts to filter the results by type     -->
            <div>
                <input type="checkbox" name="Raincoat" id="checkbox-Raincoat" [(ngModel)]="typeFilter.Raincoat">
                <label for="checkbox-Raincoat">Raincoat</label><br>
                <input type="checkbox" name="DryBags" id="checkbox-DryBags" [(ngModel)]="typeFilter.DryBags">
                <label for="checkbox-DryBags">Dry Bags</label><br>
                <input type="checkbox" name="SunProtection" id="checkbox-SunProtection" [(ngModel)]="typeFilter.SunProtection">
                <label for="checkbox-SunProtection">Sun Protection</label>
            </div>
            <input (click)="filter()" type="submit" value="Filter">
            <input (click)="resetFilter()" type="submit" value="Reset">
        </form>
    </div>
</div>
<div style="border:3px solid red" id="marketplace-display">
    <div *ngFor="let item of displayItems">
        <div *ngIf="item.name.toLowerCase().includes(searchTerm.toLowerCase())" class="item-display">
            <div class="item-name">
                <h2>{{item.name}}</h2>
                <a href="" (click)="showImg(item.img_url)"><img src="{{item.img_url}}" alt="{{item.name}}"></a>
            </div>
            <div class="item-description">
                <h3>Description</h3>
                <p>{{item.description}}</p>
                <div class="item-price">
                    <h3>Price</h3>
                    <p>{{item.price}}</p>
                </div>
                <div class="item-buttons">
                    <input class="quantity" value="1" type="number">
                    <button (click)="addToCart(item, $event)">Add to cart</button><span hidden> added</span>
                    <button *ngIf="adminPrivileges" (click)="deleteItem(item)">Delete Item</button>
                    <button *ngIf="adminPrivileges">Edit Item</button>
                </div>
            </div>
        </div>
    </div>
</div>