#marketplace-sidebar, #marketplace-display, .item-description, .item-name, .item-price, .item-buttons {
    display: inline-block
}

#marketplace-sidebar {
    padding: 5px 20px;
    width: 15%;

    div {
        margin: 20px 0;
    }
}

#marketplace-display {
    width: 81%;
    vertical-align: top;

    
    .item-display {
        display: inline-block;
        width: 250px;
        height: 300px;
        margin-top: 10px;
        border: 3px solid black;
        padding: 10px;
        vertical-align: top;
        
        


        .item-hover-buttons {
            visibility: hidden;
            position: absolute;
            margin-top: 10px;
            z-index: 1;
        }

        .item-image-frame {
            img {
                width: 200px;
                display: flex;
                align-items: center;
            }
        }

        .item-image-frame:hover {
            img {
                opacity: 0.3;
            }
            .item-hover-buttons {
                visibility: visible;                
            }            
        }

        .item-price {
            margin-top: 10px;
        }
    }

}