@import "../../scss/variables";

#new-item-wrapper {
    margin: 0 $new-item-margin;
}

#new-item-details-frame {
    position: absolute;
    width: $new-item-width;
    background-color: white;
    border: solid 3px black;
    padding: 15px;

    #new-item-details, #new-item-image-frame {
        display: inline-block;
        vertical-align: top;
    }
    
    #new-item-image-frame {
        width: 70%;
        img {
            max-width: 100%;
            height: 500px;
            display: flex;
            margin: auto;
        }
    }

    #new-item-details {
        width: 30%;
        
        #new-item-description {
            height: 400px;
        }
    }

    .type-radio-btn {
        display: inline-block;
        width: 50%;
    }
}