#img-frame {
    margin: auto;
    width: 90%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#splash-title {
    font-family: 'AkuraPopo';
    font-size: 120px;
    position: absolute;
    left: 50%;
    top: 140px;
}